@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>This project is used to evaluate an interviewee's ability to work independently and to apply SOLID programming principles.</p>
        <p>If you're currently interviewing and reading this page, good luck.</p>
    </div>
</div>
